<h2>詳細</h2>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @task.start_date %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @task.end_date %></td>
  </tr>
    <th>終日</th>
    <td><%= @task.all_day %></td>
  </tr>
  <tr>
    <th>詳細メモ</th>
    <td><%= @task.detail_memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "予定一覧に戻る", :tasks %></li>
  </ul>
</div>
